html {
    min-height: 100%;
}

body {
    background: url("Website_background.jpg");
    margin: 0 auto;
    height: 100%;
    border: 5px solid black;
}
background>body{
    align: center;
}

* {
    box-sizing: border-box;
}

header {
    background: rgb(99,102,116);
    background: linear-gradient(rgba(99,102,116,1), rgba(28,29,33,1));
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    text-align: center;
    font-family: serif;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

footer {
    background: rgb(99,102,116);
    background: linear-gradient(rgba(99,102,116,1), rgba(28,29,33,1));
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    text-align: center;
    font-family: serif;
    width: 100%;
    position: sticky;
    bottom: 0;
    z-index: 10;
}

.navbar {
    background: rgb(99,102,116);
    background: linear-gradient(rgba(99,102,116,1), rgba(28,29,33,1));
    font-size: 200%;

}

.navbar-brand {
    font-size: 225%;
    -webkit-text-stroke: 2px black;
    font-weight: bolder;
    transform: scale(1, 2);
    margin: -10px 0px -15px 0px;
}

.nav-item {
    border: 5px solid black;
    text-align: center;
    font-family: serif;
    background-color: #1c1d21;
    padding: 0px 10px;
    width: 100%
}



#Project, #Merch, #Community, #News, #Contacts{
    margin: 0 6px 0 6px;
    font-size: 150%;
}

.About {
    border: 5px solid #B6244F;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5% 30%;
    width: 100%;
    color: white;
    -webkit-text-stroke: 1px black;
}

.dropdown-menu {
    background-color: #bbb391;
    border: 5px solid black;
    font-size: 100%;
}

#info {
    margin: 5% 30% 15px 30%;
    padding: 20px;
}

#play {
    margin: 15px 30% 15px 30%;
    padding: 20px;
}

#support {
    margin: 15px 30% 30px 30%;
    padding: 20px;
}

.card-text {
    text-align: center;
}

.card_group {
    margin: 0 auto;
}

.card {
    margin: 30px 80px;
    padding: 20px;
    border: 5px solid black;
}
#CoTW {
    float: left;
    background-color: rgba(50, 116, 109, 0.5);
    color: white;
    font-family: Arial Italic;
    -webkit-text-stroke: 1px black;
}

#EcTTS {
    float: right;
    background-color: rgba(187, 155, 176, 0.5);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 1px black;
}

.Item_Carousel {
    margin: 0 auto;
}

#actual_carousel {
    margin: 30px 0;
    padding: 40px;
    background-color: rgba(77, 114, 152, 0.5);
    border: 5px solid black;
}

.info {
    margin: 0 auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 1px black;
}

#Construction {
    font-size: 450%;
}

#return {
    font-size: 200%;
}

.Com_Carousel {
    margin: 0 auto;
}

#comm_carousel {
    margin: 30px 0;
    padding: 40px;
    background-color: rgba(182, 36, 79, 0.5);
    border: 5px solid black;
    width: 1240px;
    height: 540px;
}

#QR_Code1 {
    max-width: 37%;
    max-height: 37%;
    margin: 0 auto;
}

#QR_Code2 {
    max-width: 37%;
    max-height: 37%;
    margin: 0 auto;
}